<p>user name nav: {{ user.name }}</p>
<p> {{ user.Tweets.length }} 推文 </p>
<p>coverphoto:</p>
<img src=" {{ user.cover }}" alt="">
<p>大頭貼 avatar: </p>
<img src=" {{ user.avatar }}" alt="">
<p>user name: {{ user.name }}</p>
<p>user account @ {{ user.account }}</p>
<p>user introduction: {{ user.introduction }}</p>
<a href="/users/{{ user.id }}/followings"><p>{{ user.Followings.length }}個跟隨中(following)</p></a>
<a href="/users/{{ user.id }}/followings"><p>{{ user.Followers.length }}個跟隨者(follower)</p></a>

{{!-- TODO: 本人才能看到的編輯個人資料按鈕 --}}
{{#ifCond logInUser.id user.id}}
  <form action="/users/{{user.id}}/edit" method="GET">
    <button type="submit">>是本人才看的到的神奇按鈕</button>
  </form>
{{/ifCond}}

debug用:
<p> {{ user.Replies.length }} 回文 </p>
<p> {{ user.Tweets.length }} 推文 </p>
<p> {{ user.Likes.length }} LIKES </p>
<p>{{ user.Replies }} </p>